.intro-section {
  color: white;
  padding: 20px;
  text-align: center;
}

.product-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.thumbnail-item {
  height: 120px;
  width: 120px;
  margin-right: 5px;
}

.thumbnail-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.thumbnail-item img:last-child {
  margin-right: 0;
}

.thumbnail-item.active{
  border: 2px solid #ffffff;
}

.product-detail {
  color: white;
  padding: 20px;
}

.product-actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
}

.product-actions button {
  margin-right: 10px;
}

.border-wrapper{
  border: 1px solid white;
}

.product-quantity {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.product-quantity button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.product-quantity input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  width: 40px;
  text-align: center;
  margin: 0 10px;
}

.product-quantity input:focus {
  outline: none;
}

/* Ẩn mũi tên tăng/giảm của input type="number" cho Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ẩn mũi tên trong Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}